<?xml version="1.0"?>
<!--
/**
 * amazon_products_Amazon Products extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       amazon_products
 * @package        amazon_products_Amazon Products
 * @copyright      Copyright (c) 2014
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <amazon_products_Amazon Products>
            <version>1.0.0</version>
        </amazon_products_Amazon Products>
    </modules>
    <global>
        <resources>
            <amazon_products_amazon products_setup>
                <setup>
                    <module>amazon_products_Amazon Products</module>
                    <class>amazon_products_Amazon Products_Model_Resource_Setup</class>
                </setup>
            </amazon_products_amazon products_setup>
        </resources>
        <blocks>
            <amazon_products_amazon products>
                <class>amazon_products_Amazon Products_Block</class>
            </amazon_products_amazon products>
        </blocks>
        <helpers>
            <amazon_products_amazon products>
                <class>amazon_products_Amazon Products_Helper</class>
            </amazon_products_amazon products>
        </helpers>
        <models>
            <amazon_products_amazon products>
                <class>amazon_products_Amazon Products_Model</class>
                <resourceModel>amazon_products_amazon products_resource</resourceModel>
            </amazon_products_amazon products>
            <amazon_products_amazon products_resource>
                <class>amazon_products_Amazon Products_Model_Resource</class>
                <entities>
                    <amazonproduct>
                        <table>amazon_products_amazon products_amazonproduct</table>
                    </amazonproduct>
                    <amazonproduct_product>
                        <table>amazon_products_amazon products_amazonproduct_product</table>
                    </amazonproduct_product>
                    <eav_attribute>
                        <table>amazon_products_amazon products_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </amazon_products_amazon products_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <amazon_products_amazon products>
                    <file>amazon_products_amazon products.xml</file>
                </amazon_products_amazon products>
            </updates>
        </layout>
        <translate>
            <modules>
                <amazon_products_Amazon Products>
                    <files>
                        <default>amazon_products_Amazon Products.csv</default>
                    </files>
                </amazon_products_Amazon Products>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <amazon_products_amazon products_amazonproduct_product>
                        <type>singleton</type>
                        <class>amazon_products_amazon products/adminhtml_observer</class>
                        <method>addProductAmazonproductBlock</method>
                    </amazon_products_amazon products_amazonproduct_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <catalog_product_save_after>
                <observers>
                    <amazon_products_amazon products_amazonproduct_product>
                        <type>singleton</type>
                        <class>amazon_products_amazon products/adminhtml_observer</class>
                        <method>saveProductAmazonproductData</method>
                    </amazon_products_amazon products_amazonproduct_product>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <amazon_products_Amazon Products before="Mage_Adminhtml">amazon_products_Amazon Products_Adminhtml</amazon_products_Amazon Products>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <amazon_products_amazon products>
                    <file>amazon_products_amazon products.xml</file>
                </amazon_products_amazon products>
            </updates>
        </layout>
        <translate>
            <modules>
                <amazon_products_Amazon Products>
                    <files>
                        <default>amazon_products_Amazon Products.csv</default>
                    </files>
                </amazon_products_Amazon Products>
            </modules>
        </translate>
    </frontend>
    <default>
        <amazon_products_amazon products>
        </amazon_products_amazon products>
    </default>
</config>
