app/etc/local.xml
/install.php
media/dhl/
media/downloadable/
media/catalog/product/cache/
var/session
var/cache
var/locks
var/package
media/*.jpg
media/dhl/
media/downloadable/
media/tmp/
tmp/
cache/
/nbproject/private/
media/catalog/
media/bannerdt/
var/report/
var/amazoncookie.txt
media/email/
