<?xml version="1.0"?>
<!--
/**
 * amazonProducts_AmazonProducts extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       amazonProducts
 * @package        amazonProducts_AmazonProducts
 * @copyright      Copyright (c) 2014
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <amazonProducts_AmazonProducts>
            <version>1.0.0</version>
        </amazonProducts_AmazonProducts>
    </modules>
    <global>
        <resources>
            <amazonproducts_amazonproducts_setup>
                <setup>
                    <module>amazonProducts_AmazonProducts</module>
                    <class>amazonProducts_AmazonProducts_Model_Resource_Setup</class>
                </setup>
            </amazonproducts_amazonproducts_setup>
        </resources>
        <blocks>
            <amazonproducts_amazonproducts>
                <class>amazonProducts_AmazonProducts_Block</class>
            </amazonproducts_amazonproducts>
        </blocks>
        <helpers>
            <amazonproducts_amazonproducts>
                <class>amazonProducts_AmazonProducts_Helper</class>
            </amazonproducts_amazonproducts>
        </helpers>
        <models>
            <amazonproducts_amazonproducts>
                <class>amazonProducts_AmazonProducts_Model</class>
                <resourceModel>amazonproducts_amazonproducts_resource</resourceModel>
            </amazonproducts_amazonproducts>
            <amazonproducts_amazonproducts_resource>
                <class>amazonProducts_AmazonProducts_Model_Resource</class>
                <entities>
                    <amazonproduct>
                        <table>amazonproducts_amazonproducts_amazonproduct</table>
                    </amazonproduct>
                    <amazonproduct_product>
                        <table>amazonproducts_amazonproducts_amazonproduct_product</table>
                    </amazonproduct_product>
                    <eav_attribute>
                        <table>amazonproducts_amazonproducts_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </amazonproducts_amazonproducts_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <amazonproducts_amazonproducts>
                    <file>amazonproducts_amazonproducts.xml</file>
                </amazonproducts_amazonproducts>
            </updates>
        </layout>
        <translate>
            <modules>
                <amazonProducts_AmazonProducts>
                    <files>
                        <default>amazonProducts_AmazonProducts.csv</default>
                    </files>
                </amazonProducts_AmazonProducts>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <amazonproducts_amazonproducts_amazonproduct_product>
                        <type>singleton</type>
                        <class>amazonproducts_amazonproducts/adminhtml_observer</class>
                        <method>addProductAmazonproductBlock</method>
                    </amazonproducts_amazonproducts_amazonproduct_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <catalog_product_save_after>
                <observers>
                    <amazonproducts_amazonproducts_amazonproduct_product>
                        <type>singleton</type>
                        <class>amazonproducts_amazonproducts/adminhtml_observer</class>
                        <method>saveProductAmazonproductData</method>
                    </amazonproducts_amazonproducts_amazonproduct_product>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <amazonProducts_AmazonProducts before="Mage_Adminhtml">amazonProducts_AmazonProducts_Adminhtml</amazonProducts_AmazonProducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <amazonproducts_amazonproducts>
                    <file>amazonproducts_amazonproducts.xml</file>
                </amazonproducts_amazonproducts>
            </updates>
        </layout>
        <translate>
            <modules>
                <amazonProducts_AmazonProducts>
                    <files>
                        <default>amazonProducts_AmazonProducts.csv</default>
                    </files>
                </amazonProducts_AmazonProducts>
            </modules>
        </translate>
    </frontend>
    <default>
        <amazonproducts_amazonproducts>
        </amazonproducts_amazonproducts>
    </default>
</config>
