<?xml version="1.0"?>
<!--
/**
 * amazonProducts_AmazonProducts extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       amazonProducts
 * @package        amazonProducts_AmazonProducts
 * @copyright      Copyright (c) 2014
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
--> 
<config>
    <tabs>
        <amazonproducts translate="label" module="amazonproducts_amazonproducts">
            <label>Amazon Products</label>
            <sort_order>2000</sort_order>
        </amazonproducts>
    </tabs>
    <sections>
        <amazonproducts_amazonproducts translate="label" module="amazonproducts_amazonproducts">
            <class>separator-top</class>
            <label>Amazon Products</label>
            <tab>amazonproducts</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
            </groups>
        </amazonproducts_amazonproducts>
    </sections>
</config>
