<?xml version="1.0"?>
<config>
    <modules>
        <VES_DeleteOrder>
            <version>0.1.0</version>
        </VES_DeleteOrder>
    </modules>
    <admin>
        <routers>
			<deleteorder_cp>
				<use>admin</use>
				<args>
					<module>VES_DeleteOrder</module>
					<frontName>deleteorder_cp</frontName>
				</args>
			</deleteorder_cp>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
            <modules>
                <VES_DeleteOrder>
                    <files>
                        <default>VES_DeleteOrder.csv</default>
                    </files>
                </VES_DeleteOrder>
            </modules>
        </translate>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <deleteorder translate="title" module="deleteorder">
                                            <title>Easy PDF - Delete Order</title>
                                        </deleteorder>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<events>
			<core_block_abstract_to_html_before>
				<observers>
	                <deleteorder>
	                    <class>deleteorder/observer</class>
	                    <method>core_block_abstract_to_html_before</method>
	                </deleteorder>
	            </observers>
			</core_block_abstract_to_html_before>
		</events>
    </adminhtml>   
    <global>
        <models>
            <deleteorder>
                <class>VES_DeleteOrder_Model</class>
            </deleteorder>
        </models>
        <helpers>
            <deleteorder>
                <class>VES_DeleteOrder_Helper</class>
            </deleteorder>
        </helpers>
    </global>
    <default>
    	<deleteorder>
			<config>
				<enabled>1</enabled>
			</config>
		</deleteorder>
    </default>
</config>